<h1>Listing credentials</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Hash</th>
    <th>Password</th>
    <th>Email</th>
    <th>Leak</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @credentials.each do |credential| %>
  <tr>
    <td><%= credential.username %></td>
    <td><%= credential.hash %></td>
    <td><%= credential.password %></td>
    <td><%= credential.email %></td>
    <td><%= credential.leak_id %></td>
    <td><%= link_to 'Show', credential %></td>
    <td><%= link_to 'Edit', edit_credential_path(credential) %></td>
    <td><%= link_to 'Destroy', credential, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Credential', new_credential_path %>
