<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @credential.username %>
</p>

<p>
  <b>Hash:</b>
  <%= @credential.hash %>
</p>

<p>
  <b>Password:</b>
  <%= @credential.password %>
</p>

<p>
  <b>Email:</b>
  <%= @credential.email %>
</p>

<p>
  <b>Leak:</b>
  <%= @credential.leak_id %>
</p>


<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>
